<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myf.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.myf.demo.domain.User">
        <!--@mbg.generated-->
        <!--@Table TB_USER-->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="ASSIGNOR" jdbcType="DECIMAL" property="assignor"/>
        <result column="ALLOCATION_STATUS" jdbcType="DECIMAL" property="allocationStatus"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, USERNAME, "PASSWORD", ASSIGNOR, ALLOCATION_STATUS, CREATE_TIME, UPDATE_TIME,
        DELETE_TIME, LOGIN_NAME, "STATUS"
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from TB_USER
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from TB_USER
        where ID = #{id,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.myf.demo.domain.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into TB_USER (USERNAME, "PASSWORD", ASSIGNOR,
        ALLOCATION_STATUS, CREATE_TIME, UPDATE_TIME,
        DELETE_TIME, LOGIN_NAME, "STATUS"
        )
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{assignor,jdbcType=DECIMAL},
        #{allocationStatus,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{deleteTime,jdbcType=TIMESTAMP}, #{loginName,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}
        )
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.myf.demo.domain.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into TB_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                USERNAME,
            </if>
            <if test="password != null">
                "PASSWORD",
            </if>
            <if test="assignor != null">
                ASSIGNOR,
            </if>
            <if test="allocationStatus != null">
                ALLOCATION_STATUS,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="deleteTime != null">
                DELETE_TIME,
            </if>
            <if test="loginName != null">
                LOGIN_NAME,
            </if>
            <if test="status != null">
                "STATUS",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="assignor != null">
                #{assignor,jdbcType=DECIMAL},
            </if>
            <if test="allocationStatus != null">
                #{allocationStatus,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.myf.demo.domain.User">
        <!--@mbg.generated-->
        update TB_USER
        <set>
            <if test="username != null">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                "PASSWORD" = #{password,jdbcType=VARCHAR},
            </if>
            <if test="assignor != null">
                ASSIGNOR = #{assignor,jdbcType=DECIMAL},
            </if>
            <if test="allocationStatus != null">
                ALLOCATION_STATUS = #{allocationStatus,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginName != null">
                LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                "STATUS" = #{status,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.myf.demo.domain.User">
        <!--@mbg.generated-->
        update TB_USER
        set USERNAME = #{username,jdbcType=VARCHAR},
        "PASSWORD" = #{password,jdbcType=VARCHAR},
        ASSIGNOR = #{assignor,jdbcType=DECIMAL},
        ALLOCATION_STATUS = #{allocationStatus,jdbcType=DECIMAL},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
        "STATUS" = #{status,jdbcType=DECIMAL}
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <select id="selectByUserName" parameterType="com.myf.demo.domain.User" resultType="com.myf.demo.domain.User"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TB_USER
        where USERNAME = #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectByConditionPage" resultMap="BaseResultMap" resultType="com.myf.demo.domain.User" parameterType="com.myf.demo.query.UserQuery">
        select
        <include refid="Base_Column_List"></include>
        from TB_USER
        <trim prefix="where" prefixOverrides="and" suffixOverrides="and">
            <if test="userNameQueryKey != null">
                <bind name="_key" value="'%' + userNameQueryKey + '%'"/>
                USERNAME like #{_key} and
            </if>
        </trim>
        <if test="sortField != null and sortField != ''">
            order by ${sortField} ${sortOrder}
        </if>
    </select>
</mapper>